.lighter{
    background-color: aqua !important;
    margin:2px;
}

.card:hover{
    border: 2px solid rgb(189, 49, 72) !important
}
.my-element {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }
  * This only changes this particular animation duration */
.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

/* This changes all the animations globally */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
/* All animations will take twice as long to finish */
:root {
    --animate-duration: 2s;
  }
  
  /* Only this element will take half the time to finish */
  .my-element {
    --animate-duration: 0.5s;
  }